body {
  font-family:"Saira";background-color:#fafafa
}

::selection{
  background-color:#00a3ff;
  color:#fafafa;
}
#logo {
  color: #fff;
  font-size: 1.1rem;
}


header{
  background: #0E0F1C;
  backdrop-filter:blur(24px);
  -webkit-backdrop-filter:blur(24px);
  border-bottom:1px solid rgba(114,114,126,0.2);
  z-index:999;width:100%;position:fixed;top:0;left:0;
  }

header .grid-layout nav {
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
height: 8vh;
padding: 0 8px;
}

header .grid-layout nav .nav-list {
list-style: none;
display: flex;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

header .grid-layout nav{
display:flex;justify-content:space-evenly;align-items:center;flex-wrap:wrap;height:8vh;padding:0px 8px;
}

.nav-list li a{
font-size: 1.1rem;
color:#fff;
position:relative;
align-items: center;

}
.nav-list li a::after{
  content:"";
  position:absolute;
  width:100%;
  transform:scaleX(0);
  height:1px;
  bottom:-7px;
  left:0;
  background:linear-gradient(270deg, red 0%, #17161d 100%);
  transform-origin:bottom right;
  transition:transform 0.7s cubic-bezier(0.86, 0, 0.07, 1)
  }
.nav-list li a:hover::after{
  transform:scaleX(1);
  transform-origin:bottom left;
  }
 .nav-list li a:hover{
  color:#fafafa
  }

.nav-list li a {
  color: #a2a2a9;
  text-decoration: none;
  margin-right: 50px;
}

#s-home {
  height: 640px;
  width: 100%;
  display: block;
}

#s-home2{
  color: #fafafa;
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#s-home2 img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transition: all 0.7s;
  border: 2px solid red;
  margin-top: 30px;
}

#s-home2 img:hover {
width: 330px;
height: 330px;
/* transition: all 0.7s; */
}

#s-about {
  height: 700px;
  width: 100%;
  background-color: #080C13;
  display: flex;
}

#about1 {
  width: 100%;
  height: 100%;
  background-color: #080C13;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about2 {
  color: #fff;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-p {
  font-size: 1.2rem;
}

.about-h2 {
  font-size: 2.5rem;
}

#about-h2-span {
color: red;
}

#avatar {
  width: 450px;
  height: 450px;
}

#home-container-text {
flex-direction: column;
color: #fff;
padding-left: 215px;
/* opacity: 0;  */
animation: fadeInText 0s 1.1s both;
display: flex;
}

/* .text-block {
  position: relative;
  overflow: hidden;
}

.text-block:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #06090F;
  transform: translateX(-100%);
  animation: revealBlock 1.5s 1.1s both;
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes revealBlock {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
} */

#s-home .grid-layout #home {
  display: flex;
  align-items: center;
  height: 90vh;
  /* overflow: hidden; */
  width: 100%;
  background-color: #06090F;
  display: flex;
}

#home-name {
font-size: 3.0rem;
font-weight: 500;
}


.delayMediumReveal {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 2s ease-in-out 0.3s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.3s;
}

#buttonGit {
  width: 120px;
  background: linear-gradient(89.16deg, #06090F -7.21%, red 148.5%);
  backdrop-filter: blur(10px);
  margin-top: 25px;
  padding: 15px 30px;
  color: #fff;
  border: 1px solid red;
  transition: all 0.7s;
}

#buttonGit:hover {
  box-shadow: 0 0 2px #fff;
 
  width: 200px;
  

}

#home-container-text a {
  color: #fafafa
    
}
