::selection{
  background-color:#00a3ff;
  color:#fafafa;
}

header{
  background:rgba(10,10,25,0.7);
  backdrop-filter:blur(24px);
  -webkit-backdrop-filter:blur(24px);
  border-bottom:1px solid rgba(114,114,126,0.2);
  z-index:999;width:100%;position:fixed;top:0;left:0;
  }

header .grid-layout nav {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
height: 8vh;
padding: 0 8px;
}

header .grid-layout nav .nav-list {
list-style: none;
display: flex;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

button:focus,input:focus {
  border:0
  }

#logo {
  padding-left: 50px;
}

.nav-list li a {
  padding-right: 50px;

}


nav{

}

#logo {

}

.menu {

}

.nav-list {

}

#s-home {

}

.grid-layout {

}

#home {

}

#home-container-text {

}

.delayMediumReveal {

}

.home-name {

}

.typewriter {

}

.home-container-photo {

}

.homephoto {

}

#s-about {

}

#about {

}

#about-photo {

}

#photo-sergio {

}

.about-figure figure-one icon-one delayExtraBigReveal {

}

.about-figure figure-two icon-two delayExtraBigReveal {

}

.about-figure figure-three icon-three delayExtraBigReveal {

}

#about-text {

}

.delaySmallReveal {

}

.delayMediumReveal {

}